.splash {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: bottom;
    color: #fff;
    padding-top: 40px;
    height: 835px;
}

.btn-outline-light.active,
.btn-outline-light.hover {
    border-radius: 45px;
    padding: 5px 15px;
    background-color: rgba(225, 225, 225, .5);
    border: 1px solid #fff;
    color: #fff;
}
.btn-outline-light {
    padding: 5px 15px;
    border: none;
}